@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>How are you spending your time...</h2>
                <h1>AND MY MONEY?</h1>
            </hgroup>
            <p>Here's my advice:</p>
            <ol>
                <li>Make more money.</li>
                <li>Spend less money.</li>
                <li>Don't waste time.</li>
            </ol>
        </div>
    </section>
}
@section scripts {
    @Scripts.Render("~/bundles/timbin_cljsb")
}
<form action="UpdateTime" method="post">
    <h1>How I spent my day</h1>
    <span>
        <input type="button" class="prevButton"
               name="prevDay" id="prevDay"/>
        Date: <input type="date" 
                     value="@ViewBag.Today.ToString("yyyy-MM-dd")" 
                     name="forDate" id="forDate"  required autofocus/>
        <input type="button" class="nextButton" 
               name="nextDay" id="nextDay"/>
    </span>

</form>